body {
	background-color: #f1f1f1;
	color: #fcfdf7;
	font-family: 'Prompt', sans-serif;
}

.container {
	height: 100%;
	width: 100%;
}

.chasis {
	position: relative;
	height: 150px;
	width: 520px;
	margin: 200px auto 0 auto;
	border-radius: 5px;
	background: rgba(62,77,110,1);
	background: -moz-linear-gradient(top, rgba(62,77,110,1) 0%, rgba(153,163,199,1) 2%, rgba(62,77,110,1) 4%, rgba(71,80,119,1) 94%, rgba(40,49,88,1) 99%, rgba(40,49,88,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(62,77,110,1)), color-stop(2%, rgba(153,163,199,1)), color-stop(4%, rgba(62,77,110,1)), color-stop(94%, rgba(71,80,119,1)), color-stop(99%, rgba(40,49,88,1)), color-stop(100%, rgba(40,49,88,1)));
	background: -webkit-linear-gradient(top, rgba(62,77,110,1) 0%, rgba(153,163,199,1) 2%, rgba(62,77,110,1) 4%, rgba(71,80,119,1) 94%, rgba(40,49,88,1) 99%, rgba(40,49,88,1) 100%);
	background: -o-linear-gradient(top, rgba(62,77,110,1) 0%, rgba(153,163,199,1) 2%, rgba(62,77,110,1) 4%, rgba(71,80,119,1) 94%, rgba(40,49,88,1) 99%, rgba(40,49,88,1) 100%);
	background: -ms-linear-gradient(top, rgba(62,77,110,1) 0%, rgba(153,163,199,1) 2%, rgba(62,77,110,1) 4%, rgba(71,80,119,1) 94%, rgba(40,49,88,1) 99%, rgba(40,49,88,1) 100%);
	background: linear-gradient(to bottom, rgba(62,77,110,1) 0%, rgba(153,163,199,1) 2%, rgba(62,77,110,1) 4%, rgba(71,80,119,1) 94%, rgba(40,49,88,1) 99%, rgba(40,49,88,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e4d6e', endColorstr='#283158', GradientType=0 );
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
}

.top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 15px;
	font-size: 18px;
}

.name {
	font-size: 20px;
	font-weight: 700;
}

.speed {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 10px;
	padding-left: 20px;
}

.bandwidth {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.activity {
	width: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 10px;
	padding-left: 15px;
}

.power {
	width: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 12px;
	padding-top: 20px;
	padding-left: 15px;
}

.powerLight {
	width: 20px;
	height: 10px;
	background-color: #384534;
	border-radius: 2px;
	margin-bottom: 5px;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75),
    inset 0px 0px 5px 0px rgba(230, 230, 230, .8);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75),
    inset 0px 0px 5px 0px rgba(230, 230, 230, .8);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75),
    inset 0px 0px 5px 0px rgba(230, 230, 230, .8);
}

.ports {
	position: absolute;
	height: 70px;
	width: 430px;
	top: 45px;
	right: 15px;
	border-radius: 3px;
	background: rgba(248,246,249,1);
	background: -moz-linear-gradient(top, rgba(248,246,249,1) 0%, rgba(191,185,171,1) 23%, rgba(196,185,167,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,246,249,1)), color-stop(23%, rgba(191,185,171,1)), color-stop(100%, rgba(196,185,167,1)));
	background: -webkit-linear-gradient(top, rgba(248,246,249,1) 0%, rgba(191,185,171,1) 23%, rgba(196,185,167,1) 100%);
	background: -o-linear-gradient(top, rgba(248,246,249,1) 0%, rgba(191,185,171,1) 23%, rgba(196,185,167,1) 100%);
	background: -ms-linear-gradient(top, rgba(248,246,249,1) 0%, rgba(191,185,171,1) 23%, rgba(196,185,167,1) 100%);
	background: linear-gradient(to bottom, rgba(248,246,249,1) 0%, rgba(191,185,171,1) 23%, rgba(196,185,167,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f6f9', endColorstr='#c4b9a7', GradientType=0 );
	-webkit-box-shadow:inset 0px 0px 4px 1px rgba(0, 0, 0, 0.75),
		0px 0px 4px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow:inset 0px 0px 4px 1px rgba(0, 0, 0, 0.75),
  	0px 0px 4px 1px rgba(0, 0, 0, 0.75);
  box-shadow:inset 0px 0px 4px 1px rgba(0, 0, 0, 0.75),
  	0px 0px 4px 1px rgba(0, 0, 0, 0.75);
}

.port {
	position: absolute;
	width: 70px;
	height: 60px;
	border-radius: 3px;
	background-color: #1b1b1b;
	cursor: pointer;
}

.port1 {
	position: absolute;
	top: 3px;
	left: 8px;
}

.port2 {
	position: absolute;
	top: 3px;
	left: 94px;
}

.port3 {
	position: absolute;
	top: 3px;
	left: 180px;
}

.port4 {
	position: absolute;
	top: 3px;
	left: 266px;
}

.port5 {
	position: absolute;
	top: 3px;
	left: 352px;
}

.lights {
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.light {
	width: 20px;
	height: 10px;
	background-color: #364236;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75),
    inset 0px 0px 5px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75),
    inset 0px 0px 5px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75),
    inset 0px 0px 5px 0px rgba(255, 255, 255, 1);
}

.lightL {
	position: absolute;
	top: 1px;
	left: 1px;
}

.lightR {
	position: absolute;
	top: 1px;
	right: 1px;
}

.lightsOnStill {
	background-color: #8ac67e;
  box-shadow:inset 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1), 0 0 40px #00ff00, 0 0 70px #00ff00,
    0 0 80px #00ff00, 0 0 100px #00ff00;
}

.lightsOn {
	-webkit-animation: flicker 1s infinite;
}

.wires {
	position: relative;
	bottom: -26px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 12px;
}

.wire {
	width: 2px;
	height: 50px;
	background: rgba(66,58,42,1);
	background: -moz-linear-gradient(top, rgba(66,58,42,1) 0%, rgba(77,63,42,1) 85%, rgba(156,154,156,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(66,58,42,1)), color-stop(85%, rgba(77,63,42,1)), color-stop(100%, rgba(156,154,156,1)));
	background: -webkit-linear-gradient(top, rgba(66,58,42,1) 0%, rgba(77,63,42,1) 85%, rgba(156,154,156,1) 100%);
	background: -o-linear-gradient(top, rgba(66,58,42,1) 0%, rgba(77,63,42,1) 85%, rgba(156,154,156,1) 100%);
	background: -ms-linear-gradient(top, rgba(66,58,42,1) 0%, rgba(77,63,42,1) 85%, rgba(156,154,156,1) 100%);
	background: linear-gradient(to bottom, rgba(66,58,42,1) 0%, rgba(77,63,42,1) 85%, rgba(156,154,156,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#423a2a', endColorstr='#9c9a9c', GradientType=0 );
	-webkit-transform: rotateX(70deg);
  -moz-transform: rotateX(70deg);
  -o-transform: rotateX(70deg);
  transform: rotateX(70deg);
}


.numbers {
	position: absolute;
	width: 430px;
	left: 76px;
	bottom: 8px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.foot {
	width: 50px;
	height: 15px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background: rgba(58,49,42,1);
	background: -moz-linear-gradient(left, rgba(58,49,42,1) 0%, rgba(34,33,31,1) 9%, rgba(34,34,32,1) 91%, rgba(58,49,42,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(58,49,42,1)), color-stop(9%, rgba(34,33,31,1)), color-stop(91%, rgba(34,34,32,1)), color-stop(100%, rgba(58,49,42,1)));
	background: -webkit-linear-gradient(left, rgba(58,49,42,1) 0%, rgba(34,33,31,1) 9%, rgba(34,34,32,1) 91%, rgba(58,49,42,1) 100%);
	background: -o-linear-gradient(left, rgba(58,49,42,1) 0%, rgba(34,33,31,1) 9%, rgba(34,34,32,1) 91%, rgba(58,49,42,1) 100%);
	background: -ms-linear-gradient(left, rgba(58,49,42,1) 0%, rgba(34,33,31,1) 9%, rgba(34,34,32,1) 91%, rgba(58,49,42,1) 100%);
	background: linear-gradient(to right, rgba(58,49,42,1) 0%, rgba(34,33,31,1) 9%, rgba(34,34,32,1) 91%, rgba(58,49,42,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a312a', endColorstr='#3a312a', GradientType=1 );
}

.footL {
	position: absolute;
	bottom: -15px;
	left: 30px;
}

.footR {
	position: absolute;
	bottom: -15px;
	right: 30px;
}

.onSeq {
	-webkit-animation: onSeq .5s infinite;
}

.text {
	font-family: Raleway;
	color: #1b1b1b;
	margin: 50px auto;
	text-align: center;
	font-size: 20px;
}

@-webkit-keyframes flicker {
  0%, 4%, 8%, 12%, 16%, 20%, 40%, 44%, 48%, 60%, 64%, 68%, 72%, 90%, 94%, 98% {
		background-color: #8ac67e;
  	box-shadow:inset 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1),
    	0 0 30px rgba(255, 255, 255, 1), 0 0 40px #00ff00, 0 0 70px #00ff00,
    	0 0 80px #00ff00, 0 0 100px #00ff00;
  }
  2%, 6%, 10%, 14%, 18%, 22%, 42%, 46%, 50%, 62%, 66%, 70%, 74%, 92%, 96%, 100% {
	background-color: #364236;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75),
    inset 0px 0px 5px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75),
    inset 0px 0px 5px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75),
    inset 0px 0px 5px 0px rgba(255, 255, 255, 1);
  }
}

@-webkit-keyframes onSeq {
	0%, 100% {
		background-color: #8ac67e;
  	box-shadow:inset 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1),
    	0 0 30px rgba(255, 255, 255, 1), 0 0 40px #00ff00, 0 0 70px #00ff00,
    	0 0 80px #00ff00, 0 0 100px #00ff00;
	}
	50% {
	background-color: #364236;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75),
    inset 0px 0px 5px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75),
    inset 0px 0px 5px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75),
    inset 0px 0px 5px 0px rgba(255, 255, 255, 1);
	}
}